/* BODY OF PAGE */

.text ul {
  list-style-type: none;
  padding: 0;
}

.body-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 10%;
}

.about {
  margin-left: 1%;
  font-size: 50px;
  text-align: left;
}

.profile-portrait {
  float: right;
  width: 350px;
  margin-right: 10px;
  border-radius: 50%;
}

.text {
  margin-left: 1%;
  margin-top: 6%;
}

.resume {
  margin-top: 5%;
  text-align: center;
}
