* {
  box-sizing: border-box;
}

body{
  /* Entire page style defaults */
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  text-align: center;
}


/* NAVIGATION BAR */
.NAVIGATION {
  display: flex;
  width: 100;
  margin-left: 3%;
  margin-right: 3%;
}

/* navigation logo */
.page-header-item {
  flex: 0 1 200px;
}

/* navigation links */
.NAVIGATION li {
  flex-grow: 1;
  display: inline-block;
  margin-left: 15px;
}
nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: right;
}

/* list items for the nav bar */
.NAVIGATION ul{
  list-style-type: none;
  width: 100%;
}


/* LINK STYLING BELOW */
a {
  color: #1EA1A1;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #078;
}
a:hover{
  /* color change when hovering over a link */
  color: #9EB;
}
a:hover :focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: #489c79;
}


/* BUTTON STYLING AND INFO */
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #1EA1A1;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 50px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
button:hover, button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #1EA1A1;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  transition-duration: 0.9s;
  transition-property: opacity;
}

button:hover, button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.6;
}

/* BODY OF PAGE */

.text ul {
  list-style-type: none;
  padding: 0;
}

.body-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 10%;
}

.profile-portrait{
  float: right;
  width: 350px;
  margin-right: 40px;
  border-radius: 50%;
}

.text {
  margin-right: 45%;
  margin-top: 6%;
}

.about {
  font-size: 50px;
  text-align: left;
}

.resume {
  margin-top: 5%;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
  clear: both;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.icon1 {
  margin-right: 1%;
}
.icon2 {
  margin-right: 1%;
}
