/* BODY OF PAGE */

.text ul {
  list-style-type: none;
  padding: 0;
}

.body-container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10%;
}

.about {
  margin-left: 1%;
  font-size: 50px;
  text-align: center;
}

.profile-portrait {
  float: right;
  width: 350px;
  margin-right: 10px;
  border-radius: 50%;
}

.text {
  margin: 4%;
}

.resume {
  margin-top: 5%;
  text-align: center;
}

@media all and (min-width: 768px) {
  .text {
    margin: auto;
    margin-left: 5%;
    margin-right: 45%;
  }
}
