* {
  box-sizing: border-box;
}

body {
  /* Entire page style defaults */
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
}

/* NAVIGATION BAR */
.NAVIGATION {
  display: flex;
  width: 100;
  margin-left: 3%;
  margin-right: 3%;
}

/* navigation logo */
.page-header-item {
  flex: 0 1 200px;
}
