.topic {
  font-size: 50px;
}

/* GRID BOXES */
.grid {
  display: grid;
  margin-bottom: 5%;
  padding: 10px;
}

.grid__item {
  background-color: #e8e8e8;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10%;
  margin: 5%;
}

@media all and (min-width: 768px) {
  .previews {
    height: 200px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin: 1%;
}

.mongo {
  width: 20px;
  height: 30px;
}

.previews {
  width: 90%;
}
